*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d36135;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #7fb069;
    cursor: pointer;
    background: #e6aa68;
}
#reset-btn{
    padding: 1vmin;
    font-size: 1.25rem;
    background-color: #ece4b7;
    border-radius: 1rem;
    border:none

}
#new-btn{
    padding: 1vmin;
    font-size: 1.25rem;
    background-color: #ece4b7;
    border-radius: 1rem;
    border:none
}
#msg{
    color:#533A71;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
@media (max-width:800px) {
    .msg-container{
        height: 100vh;
    }
}
